
.green{
    color: green;
}
.red{
    color: red;
}
.center{
    text-align: center;
}
.todo_btn{
    height: 25px;
    border: 0px;
    border-radius: 9px;
    cursor: pointer;
}
.btn_green{
    background-color: green;
    color: white;
}
.btn_red{  
    color: white;
    background-color: red;
}
.row{
    display: flex;
    justify-content: space-between;
   
}